

@{
    ViewData["Title"] = "Edit Sector";
}


<div class="container">
    <h1>Edit sector</h1>
    <div class="row">
        <a asp-controller="Sectors" asp-action="Index">&leftarrow; back</a>
    </div>
    <form asp-action="Update" method="post" class="form">
        <div class="form-group">
            <label for="">Id:</label>
            <input type="text" name="Id" value="@Model.Id" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label for="">Name:</label>
            <input type="text" name="Name" value="@Model.Name" placeholder="enter your name" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Description:</label>
            <input type="text" name="Description" value="@Model.Description" placeholder="enter your Description" class="form-control">
        </div>
         <div class="form-group">
            <label for="">Author:</label>
            <input type="text" name="Author" value="@Model.Author" placeholder="enter your Author" class="form-control">
        </div>
        <button class="btn btn-primary">Edit</button>

    </form>

</div>